<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Опубликовать поездку</title>
</head>
<body>
<h1>Опубликовать поездку</h1>
<form action="i">
    <p><label for="id_1">Имя</label><input type="text" id="id_1">
    <p><label for="id_2">Отправление</label><input type="text" id="id_2">
    <p><label for="id_3">Прибытие</label><input type="text" id="id_3">
    <p><label for="id_4">Марка автомобиля</label><input type="text" id="id_4">
    <p><label for="id_5">Дата</label><input type="datetime-local" id="id_5">
    <p><label for="id_6">Количество мест</label><input type="number" id="id_6">

</form>

</body>
</html>